{% extends 'base.html' %}
{% block content %}
    <h1>All films</h1>
    {% for film in film_list %}
        <a href="/film/{{film.id}}/">
            <h3>Title: {{ film.title }}</h3>
            <h3>Director: {{film.film_director}}</h3>
        </a>
        <hr>
    {% endfor %}
    <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/films/?page={{previous_page}}">Previous</a></li>
              {% for page in pages %}
                 <li class="page-item"><a class="page-link" href="/films/?page={{page}}">{{page}}</a></li>
              {% endfor %}
            <li class="page-item"><a class="page-link" href="/films/?page={{next_page}}">Next</a></li>
          </ul>
        </nav>
{% endblock %}