{% extends 'base.html' %}
{% block content %}

    <div class="btn-group" role="group" aria-label="Basic example">

        <a href="/time/">
            <button type="button" class="btn btn-primary btn-sm">TIME</button>
        </a>
        <a href="/about_us/">
            <button type="button" class="btn btn-primary btn-sm">About_Us</button>
        </a>
        <a href="/films/">
            <button type="button" class="btn btn-primary btn-sm">Films</button>
        </a>
    </div>
    <h1>What's UP</h1>
{% endblock %}